{{define "content"}}
<div class="flex flex-col justify-center items-center gap-4">
    <a href="/character/{{.ID}}/edit" class="bg-primary p-2 rounded-lg max-w-fit hover:cursor-pointer self-start">Edit
        Character</a>
    <div class="flex flex-row gap-8">
        <div class="flex gap-4">
            <div class="flex flex-col gap-4">
                {{template "statCard" (statCard "STR" .StatBlock.Strength (.StatBlock.GetAbilityScore "Strength"))}}
                {{template "statCard" (statCard "DEX" .StatBlock.Dexterity (.StatBlock.GetAbilityScore "Dexterity"))}}
                {{template "statCard" (statCard "CON" .StatBlock.Constitution (.StatBlock.GetAbilityScore
                "Constitution"))}}
                {{template "statCard" (statCard "INT" .StatBlock.Intelligence (.StatBlock.GetAbilityScore
                "Intelligence"))}}
                {{template "statCard" (statCard "WIS" .StatBlock.Wisdom (.StatBlock.GetAbilityScore "Wisdom"))}}
                {{template "statCard" (statCard "CHA" .StatBlock.Charisma (.StatBlock.GetAbilityScore "Charisma"))}}
            </div>
            <div class="p-4 border flex flex-col gap-2 max-w-fit">
                <span class="text-center font-bold">Skills</span>
                {{template "skill" (skill "Acrobatics" .Character "Dex")}}
                {{template "skill" (skill "Animal Handling" .Character "Wis")}}
                {{template "skill" (skill "Arcana" .Character "Int")}}
                {{template "skill" (skill "Athletics" .Character "Str")}}
                {{template "skill" (skill "Deception" .Character "Cha")}}
                {{template "skill" (skill "History" .Character "Int")}}
                {{template "skill" (skill "Insight" .Character "Wis")}}
                {{template "skill" (skill "Intimidation" .Character "Cha")}}
                {{template "skill" (skill "Investigation" .Character "Int")}}
                {{template "skill" (skill "Medicine" .Character "Wis")}}
                {{template "skill" (skill "Nature" .Character "Int")}}
                {{template "skill" (skill "Perception" .Character "Wis")}}
                {{template "skill" (skill "Performance" .Character "Cha")}}
                {{template "skill" (skill "Persuasion" .Character "Cha")}}
                {{template "skill" (skill "Religion" .Character "Int")}}
                {{template "skill" (skill "Sleight of Hand" .Character "Dex")}}
                {{template "skill" (skill "Stealth" .Character "Dex")}}
                {{template "skill" (skill "Survival" .Character "Wis")}}
            </div>
            <div class="flex-1 flex flex-col gap-2">
                <div class="flex gap-4">
                    <span class="border border-accent p-2">Name: {{.Name}}</span>
                    <span class="border border-accent p-2">Background: {{.Background.Name}}</span>
                    <span class="border border-accent p-2">Class: {{.Class}}</span>
                    <span class="border border-accent p-2">Level: {{.Level}}</span>
                    <span class="border border-accent p-2">Race: {{.Race.Type}}</span>
                    <span class="border border-accent p-2">Subrace: {{.Race.Subrace}}</span>
                </div>
                <div class="flex gap-4">
                    <span class="border border-accent p-2">Armor Class: {{.GetArmorClass}}</span>
                    <span class="border border-accent p-2">Initiative: {{.GetInitiative}}</span>
                    <span class="border border-accent p-2">Move Speed: {{.GetMoveSpeed}}</span>
                    <span class="border border-accent p-2">Proficiency Bonus: {{.GetProficiencyBonus}}</span>
                    <span class="border border-accent p-2">Hit Die: {{.Class.GetHitDie}}</span>
                    <span class="border border-accent p-2">Hit Points: {{.GetMaxHealthPoints}}</span>
                </div>
                <div class="p-4 border flex flex-col gap-2 max-w-fit max-h-fit">
                    <span class="text-center font-bold">Saving Throws</span>
                    {{template "savingThrow" (savingThrow "Strength" .Character)}}
                    {{template "savingThrow" (savingThrow "Dexterity" .Character)}}
                    {{template "savingThrow" (savingThrow "Constitution" .Character)}}
                    {{template "savingThrow" (savingThrow "Intelligence" .Character)}}
                    {{template "savingThrow" (savingThrow "Wisdom" .Character)}}
                    {{template "savingThrow" (savingThrow "Charisma" .Character)}}
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}