{{define "title"}}Register{{end}}

{{define "content"}}
<div class="h-full flex flex-col gap-10 items-center justify-center">
    <h2>Register</h2>
    {{if .Error}}
    <div class="error">{{.Error}}</div>
    {{end}}
    <form action="/auth/register" method="post" class="grid grid-cols-2 gap-4 bg-primary rounded-2xl p-10"
        autocomplete="off">

        <label for="Username" class="text-background">Username</label>
        <input type="text" id="Username" class="text-background bg-accent p-2" placeholder="Username" />
        <label for="Password" class="text-background">Password</label>
        <input type="password" id="Password" class="text-background bg-accent p-2" placeholder="Password" />
        <label for="Confirm-Password" class="text-background">Confirm Password</label>
        <input type="Confirm password" id="Confirm-Password" class="text-background bg-accent p-2" placeholder="Confirm Password" />
        <button type="submit" class="col-span-2 bg-secondary rounded-lg p-2 hover:bg-secondary/80">Register</button>

        <a href="/auth/login" class="col-span-2 text-center text-background hover:underline">Login</a>
    </form>
</div>
{{end}}