<!DOCTYPE html>
<html lang="en" class="h-full bg-background text-text">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/site.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <title>{{block "title" .}}Character Creator{{end}}</title>
</head>

<body class="h-full flex flex-col">
    {{if .User}}
    <div class="p-10 flex justify-between items-center">
        <a href="/" class="text-3xl font-bold">Character Creator</a>
        <nav class="flex gap-4">
            <a href="/character" class="text-lg">Characters</a>
            <a href="/auth/logout" class="text-lg">Logout</a>
            <span class="text-lg">Welcome, {{.User.Username}}</span>
        </nav>
    </div>
    {{end}}
    <div class="flex-1 container mx-auto px-4 relative">
        <div class="absolute inset-0">
            {{block "content" .Data}}{{end}}
        </div>
    </div>
</body>

{{block "script" .}}{{end}}

</html>