<!DOCTYPE html>
<html lang="en" class="h-full bg-background text-text">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/site.css" rel="stylesheet">
    <title>{{block "title" .}}Character Creator{{end}}</title>
</head>
<body>
    {{block "content" .}}{{end}}
</body>
</html>